<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>

    <class name="testpkg.Registertest"/>
    <class name="testpkg.Logintest"/>
     <class name="testpkg.Producthometest"/>
      <class name="testpkg.Booksproducttest"/>
      <class name="testpkg.Computerproducttest"/>
       <class name="testpkg.Electronicsproducttest"/>
       <class name="testpkg.Apparelproducttest"/>
        <class name="testpkg.Digitaldownloadsproducttest"/>
        <class name="testpkg.Jewelryproducttest"/>
        <class name="testpkg.Giftcardproducttest"/>
        <class name="testpkg.emailafriendtest"/>
         <class name="testpkg.Myaccount_cutomerinfoTest"/>
          <class name="testpkg.Shoppingcart_test"/>
            <class name="testpkg.CheckoutdetailsTest"/>
            <class name="testpkg.Searchbarsearchingtest"/>
            <class name="testpkg.AllLinksTest"/>
           
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
